body {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8E00), to(#FE6F00)) fixed;
  font-family: "roboto";
}

.logo {
  max-height: 50px;
  max-width: 100%;
}

#logo {
  max-height: 50px;
  max-width: 100%;
}