<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <i class="material-icons">flight</i><h5 class="white-text">Let's Fly</h5>
        <p class="grey-text text-lighten-4">Our project will get better with your reviews and ideas.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <p>Link to our Git repository, it's an open source project ! </p>
            <a class="grey-text text-lighten-3" href="https://github.com/imenany/behm-pdw" target="_blank">
              <p>your contributions are welcom ...</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright behm
    </div>
  </div>
</footer>
