.logo{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}


.offre-logo-icon{
  width: 60px;
  position: absolute;
  top: 238px;
  left:50%;
  transform: rotate(7deg);
  z-index: 999;
}
